# https://github.com/redmine-testing

#
# References
#
# https://gist.github.com/ejangi/6944fcfbbccfa98d9a9e
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# https://www.phusionpassenger.com/library/config/standalone/reference/
#

[Unit]
Description=Passenger Standalone Application Server for test Redmine SVN trunk instance
After=network.target

[Service]
Type=forking
PrivateTmp=no

# This is only for the initial parent process. A child process will be used
# that runs with the user/group specified in the Passenger.json file.
User={{ passenger_standalone_systemd_user }}
Group={{ passenger_standalone_systemd_group }}

# The Passenger.json file lives here with configuration options for the web app (port, user, etc.)
WorkingDirectory={{ redmine_full_install_dir }}

# I believe (but am not 100% sure) that all of these are executed FROM the
# working directory, which means that Passenger will use the Passenger.json
# file from within this directory to configure the daemon for this web app.
ExecStart=/usr/bin/passenger start --disable-security-update-check --auto
ExecReload=/usr/bin/passenger-config restart-app {{ redmine_full_install_dir }}
ExecStop=/usr/bin/passenger stop

[Install]
WantedBy=multi-user.target

